
#export(cos_d,sin_d,acos_d,asin_d,tan_d,atan_d,atan2_d,acos_r,asin_r,cos_r,sin_r,tan_r,atan_r,atan2_r)

export(DateConversion)

export(UorL)

#export(stkde.base)

export(stkde,stkde.sig)






